.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    grid-gap: 15px 20px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;

    @for $i from 1 to 4 {
        .row-span-#{$i} {
            grid-row-end: span #{$i};
        }

        .col-span-#{$i} {
            grid-column-end: span #{$i};
        }
    }
}